* {
  color: #000; }

a {
  text-decoration: none;
  outline: none !important; }

.ar {
  text-align: right; }

.loader {
  background: transparent url(../images/loader.gif) no-repeat center center;
  height: 50px; }

.loader-button {
  background: transparent url(../images/loader-button.gif) no-repeat 10px center;
  padding-left: 35px !important; }

.loader.bottom {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 32px;
  height: 32px; }

label.error, p.error {
  color: #d32222 !important;
  font-weight: normal !important; }

p.error {
  font-weight: bold !important; }

.alert-message {
  padding: 25px 40px 25px 70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 1px 1px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 0px 1px 1px 0 rgba(50, 50, 50, 0.25); }
  .alert-message p {
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 0 !important; }
  .alert-message.alert-success {
    background-color: #FFFFFF; }
    .alert-message.alert-success p,
    .alert-message.alert-success p strong {
      color: #333333; }
  .alert-message.alert-warning {
    background-color: #fcf8e3; }
  .alert-message.alert-error {
    background-color: #ffe5e5; }
  .alert-message p a {
    text-decoration: underline; }
  .alert-message .notify {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -16px; }
  .alert-message .check {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -16px; }

div.error {
  width: 275px;
  height: 42px;
  background: transparent url(../images/error-shadow.png) center bottom no-repeat; }
  div.error.hide {
    display: none; }
  div.error p {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #FFF;
    color: red !important;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED; }

.default-button {
  background-color: #00a3cc;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  font-size: 11px; }

.default-field {
  background-color: #d9dedf;
  border: 1px solid #c1c5c8;
  -webkit-box-shadow: inset 0 4px 5px -7px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: inset 0 4px 5px -7px rgba(50, 50, 50, 0.65);
  box-shadow: inset 0 4px 5px -7px rgba(50, 50, 50, 0.65);
  font-size: 16px;
  padding: 6.5px; }

.default-link {
  color: #00a2cc;
  font-size: 12px; }
  .default-link:hover {
    text-decoration: underline; }

span.info {
  font-size: 12px;
  color: #999999; }

.buttons {
  background: transparent url(../images/buttons.png) no-repeat; }
  .buttons.social-twitter {
    background-position: 0 -42px; }
  .buttons.social-google {
    background-position: 0 -86px; }
  .buttons.like {
    background-position: 0 -130px; }
  .buttons.fav {
    background-position: 0 -168px; }
  .buttons.like-comment {
    background-position: -212px -168px; }
  .buttons.unlike-comment {
    background-position: -212px -144px; }

.icons {
  background: transparent url(../images/icon.png) no-repeat; }
  .icons.favorite, .icons.icon-comment, .icons.want-to-watch {
    width: 20px;
    height: 20px;
    display: block; }
  .icons.favorite {
    background-position: -1px -29px; }
  .icons.want-to-watch {
    width: 21px;
    height: 21px;
    background-position: -27px -28px; }
  .icons.separator {
    background-position: -151px -30px; }
  .icons.modalClose {
    background-position: -6px -409px; }
  .icons.check {
    display: block;
    width: 32px;
    height: 32px;
    background-position: -169px -445px; }
  .icons.notify {
    display: block;
    width: 32px;
    height: 32px;
    background-position: -207px -443px; }
  .icons.calendar {
    display: block;
    width: 32px;
    height: 32px;
    background-position: -203px -394px; }
  .icons.age {
    display: block;
    width: 56px;
    height: 35px;
    background-position: -190px -305px; }
  .icons.time {
    display: block;
    width: 32px;
    height: 32px;
    background-position: -203px -350px; }

body {
  background: transparent url(../images/bg.jpg) 0 0 repeat;
  font-family: 'PT Sans', sans-serif;
  overflow-y: scroll; }

#container, .container {
  width: 96%;
  margin: 0 auto;
  padding: 0 2%; }

#header {
  background-color: #fff;
  width: 100%;
  height: 59px;
  background: transparent url(../images/bg-header.jpg) repeat-x center bottom;
  position: relative; }
  #header h1 {
    margin: 11px 0 0 9px;
    padding: 0;
    float: left; }
    #header h1 a {
      width: 155px; }
      #header h1 a img {
        display: block; }
  #header ul.menu {
    display: none; }
  #header a.toggle-mobile-menu {
    position: absolute;
    display: block;
    width: 50px;
    height: 49px;
    right: 10px;
    top: 0;
    padding-top: 10px; }
    #header a.toggle-mobile-menu span.icon-bar {
      display: block;
      width: 40px;
      height: 5px;
      background-color: #D1D6D8;
      margin: 5px auto 5px auto; }
    #header a.toggle-mobile-menu.active {
      background-color: #D1D6D8; }
      #header a.toggle-mobile-menu.active span.icon-bar {
        background-color: #FFFFFF; }
  #header ul.mobile-menu {
    width: 96%;
    top: 59px;
    position: absolute;
    z-index: 99;
    display: none; }
    #header ul.mobile-menu.show {
      display: block; }
    #header ul.mobile-menu li {
      border-bottom: 1px solid #FFF; }
      #header ul.mobile-menu li a {
        padding: 10px;
        text-align: right;
        display: block;
        background-color: #D1D6D8;
        text-transform: uppercase;
        color: #797B7C; }
        #header ul.mobile-menu li a:hover {
          color: #00a3cc;
          padding-right: 20px;
          background-color: #D6DADB; }

#search {
  margin-top: 10px;
  height: 50px; }
  #search .wrap {
    margin: 0 auto;
    width: 295px;
    position: relative; }
    #search .wrap input {
      position: absolute; }
      #search .wrap input.field {
        left: 0;
        width: 285px;
        height: 38px;
        border: none;
        background: transparent url(../images/bg-search.png) no-repeat bottom left;
        color: #fff;
        font-size: 12px;
        padding: 0 5px; }
      #search .wrap input.btn {
        width: 30px;
        height: 30px;
        border: none;
        right: 0;
        background-position: -30px -354px; }

#content .mobile-page-title h2 {
  color: #9FA0A0;
  text-align: center; }
#content .mobile-page-title hr {
  border: none;
  border-bottom: 1px solid #EDEDED; }
#content .filter {
  display: none; }
#content .simple-grid {
  width: auto; }
  #content .simple-grid .box {
    width: 153px;
    float: left; }
    #content .simple-grid .box .cast {
      width: 147px;
      height: 222px;
      background-color: #FFF;
      position: relative;
      margin: 0 auto 24.4px auto; }
      #content .simple-grid .box .cast label {
        background-color: #00a3cc;
        bottom: 0;
        left: 0;
        position: absolute;
        font-size: 12px;
        color: #FFF;
        text-transform: uppercase;
        padding: 7px 10px; }
#content .grid {
  width: auto;
  position: relative; }
  #content .grid .box .movie {
    background: transparent url(../images/bg-box.png) no-repeat top left;
    width: 249px;
    height: 480px;
    margin: 0 auto;
    position: relative; }
    #content .grid .box .movie.small {
      background-position: -498px 0;
      height: 416px; }
    #content .grid .box .movie.medium {
      background-position: -249px 0;
      height: 448px; }
    #content .grid .box .movie .marker {
      display: block;
      position: absolute;
      left: 10px;
      top: 15px;
      width: 130px;
      height: 40px;
      background: transparent url(../images/box-marker.png) no-repeat;
      z-index: 2; }
      #content .grid .box .movie .marker.valued {
        background-position: 0 -40px; }
      #content .grid .box .movie .marker.valued-min {
        background-position: 0 -80px; }
      #content .grid .box .movie .marker .left,
      #content .grid .box .movie .marker .right {
        float: left;
        color: #fff;
        display: block;
        height: 30px; }
      #content .grid .box .movie .marker .left {
        width: 55px;
        font-size: 20px;
        text-align: center;
        line-height: 33px; }
        #content .grid .box .movie .marker .left.text {
          font-size: 12px;
          text-transform: uppercase; }
      #content .grid .box .movie .marker .right {
        margin: 4px 0 0 10px;
        width: 60px;
        font-size: 10px;
        text-transform: uppercase; }
        #content .grid .box .movie .marker .right.number {
          margin: 2px 0 0 0;
          width: 40px;
          text-align: center;
          font-size: 20px; }
    #content .grid .box .movie .area {
      position: relative;
      left: 25px;
      top: 15px;
      z-index: 1;
      width: 200px; }
      #content .grid .box .movie .area .poster {
        width: 200px;
        height: 300px;
        background-color: #ccc;
        margin-bottom: 15px;
        position: relative;
        background: transparent url(../images/loader.gif) no-repeat center center; }
        #content .grid .box .movie .area .poster a.hover {
          position: absolute;
          display: none;
          width: 79px;
          height: 79px;
          left: 60.5px; }
          #content .grid .box .movie .area .poster a.hover.watch {
            background-position: 0 -152px;
            top: 70px; }
            #content .grid .box .movie .area .poster a.hover.watch:hover {
              background-position: -78px -152px; }
          #content .grid .box .movie .area .poster a.hover.like {
            background-position: 0 -241px;
            top: 155px; }
            #content .grid .box .movie .area .poster a.hover.like:hover {
              background-position: -78px -241px; }
          #content .grid .box .movie .area .poster a.hover.favorite {
            background-position: -78px -330px;
            top: 155px; }
            #content .grid .box .movie .area .poster a.hover.favorite:hover {
              background-position: -78px -414px; }
        #content .grid .box .movie .area .poster a.overlay {
          width: 200px;
          height: 300px;
          display: block;
          cursor: -webkit-zoom-in;
          cursor: -moz-zoom-in; }
          #content .grid .box .movie .area .poster a.overlay img {
            width: 200px;
            height: 300px;
            display: block; }
      #content .grid .box .movie .area p {
        margin: 0; }
        #content .grid .box .movie .area p.ttl {
          font-size: 14px;
          text-transform: uppercase;
          color: #444444;
          font-weight: bold;
          height: 40px; }
        #content .grid .box .movie .area p.desc {
          font-size: 11px;
          color: #949494;
          margin-top: 5px;
          text-transform: uppercase; }
          #content .grid .box .movie .area p.desc strong {
            color: #949494; }
    #content .grid .box .movie .info {
      width: 229px;
      left: 17px;
      position: absolute;
      bottom: 18px; }
      #content .grid .box .movie .info .line {
        font-size: 11px;
        color: #949494;
        padding: 8px 15px 8px 50px;
        position: relative;
        border-top: 1px solid #eeeeee; }
        #content .grid .box .movie .info .line span.icons {
          top: 8px;
          left: 15px;
          position: absolute; }
  #content .grid .box .comment {
    margin: 0 auto 15px auto;
    width: 231px;
    background: transparent url(../images/bg-comment.png) no-repeat 0 0;
    border-bottom: 1px solid #a8aeb0;
    padding: 22px 0 0 0; }
    #content .grid .box .comment .user-data {
      margin-left: 18px;
      height: 45px; }
      #content .grid .box .comment .user-data .photo {
        display: block;
        width: 30px;
        height: 30px;
        float: left;
        border: 1px solid #7a7e7f; }
      #content .grid .box .comment .user-data .info {
        margin-left: 10px;
        float: left; }
        #content .grid .box .comment .user-data .info p {
          margin: 0;
          padding: 0;
          color: #fff; }
        #content .grid .box .comment .user-data .info .name {
          font-size: 13px; }
        #content .grid .box .comment .user-data .info .date {
          font-size: 10px; }
    #content .grid .box .comment .user-comment {
      border-top: 1px solid #a1a8aa;
      margin-left: 2px;
      padding: 10px 18px; }
      #content .grid .box .comment .user-comment p {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 11px; }
#content .main-area {
  background: transparent url(../images/bg-title.png) no-repeat center 30px;
  padding: 0 0;
  margin-top: 60px; }
  #content .main-area h2 {
    color: #00a2cc;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px; }
  #content .main-area .main {
    padding-top: 20px; }
#content a.load-more {
  display: block;
  text-align: center;
  color: #FFF;
  background-color: #00a3cc;
  padding: 10px 0;
  margin-top: 50px;
  margin-bottom: 10px; }
#content.area-movie .main-area .left {
  float: left;
  width: 50%; }
  #content.area-movie .main-area .left .poster img {
    max-width: 200px; }
#content.area-movie .main-area .right {
  width: 50%;
  float: right; }
  #content.area-movie .main-area .right .tablet-desktop-info {
    display: none; }

#footer {
  margin-top: 80px;
  padding: 25px 0 100px 0;
  background-color: #FFF; }
  #footer .left {
    margin-left: 5%; }
    #footer .left p {
      margin-top: 8px;
      font-size: 12px; }
  #footer .right {
    display: none; }

@media screen and (min-width: 360px) {
  #content .simple-grid .box {
    width: 172px; }

  #footer .left,
  #footer .right {
    width: 45%; }
  #footer .left {
    float: left; }
  #footer .right {
    float: right;
    margin-right: 5%;
    display: block; }
    #footer .right a {
      float: right;
      width: 70px;
      height: 67px;
      display: block;
      margin-left: 7px;
      float: right; }
      #footer .right a.facebook {
        background-position: -10px -510px; }
      #footer .right a.youtube {
        display: none;
        background-position: -87px -510px; }
      #footer .right a.twitter {
        background-position: -164px -510px; } }
@media screen and (min-width: 400px) {
  #content .simple-grid .box {
    width: 192px; } }
@media screen and (min-width: 480px) {
  #content .simple-grid .box {
    width: 230px; } }
@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    z-index: 999;
    top: 0; }
    #header ul.menu {
      display: block;
      width: auto;
      float: right;
      margin-right: 10px; }
      #header ul.menu li {
        float: right;
        display: block;
        position: relative; }
        #header ul.menu li a {
          display: block;
          color: #949494;
          font-size: 12px;
          font-weight: bold;
          line-height: 26px;
          padding: 16px 15px; }
          #header ul.menu li a.last {
            padding-right: 0; }
          #header ul.menu li a.active {
            color: #00a2cc; }
          #header ul.menu li a:hover {
            color: #878787; }
        #header ul.menu li ul.submenu {
          position: absolute;
          top: 60px;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          background-color: #ffffff;
          margin: 0;
          padding: 0;
          -webkit-box-shadow: 0 5px 10px -5px rgba(50, 50, 50, 0.25);
          -moz-box-shadow: 0 5px 10px -5px rgba(50, 50, 50, 0.25);
          box-shadow: 0 5px 10px -5px rgba(50, 50, 50, 0.25); }
          #header ul.menu li ul.submenu li {
            float: none;
            margin: 0;
            height: auto;
            position: relative; }
            #header ul.menu li ul.submenu li a {
              display: block;
              padding: 10px 0 10px 20px;
              line-height: normal;
              font-size: 13px;
              color: #999999;
              font-weight: normal; }
              #header ul.menu li ul.submenu li a:hover {
                background-color: #f1f1f1; }
            #header ul.menu li ul.submenu li.header {
              position: absolute;
              background: transparent url(../images/bg-painel-about.png) no-repeat right top;
              top: -10px;
              left: -1px;
              height: 40px; }
            #header ul.menu li ul.submenu li.ttl {
              font-size: 14px;
              color: #00a3cc;
              padding: 10px 0 10px 15px;
              border-bottom: 1px dashed #7f7f81;
              margin-bottom: 5px;
              font-weight: bold; }
        #header ul.menu li.separator {
          width: 1px;
          height: 59px;
          background-position: -151px -12px; }
        #header ul.menu li.about a.icons {
          padding-right: 25px;
          background-position: 55px -341px;
          margin-right: 5px; }
        #header ul.menu li.about .submenu {
          width: 196px;
          left: -80px; }
          #header ul.menu li.about .submenu li.header {
            width: 198px; }
        #header ul.menu li.notify a.icons {
          display: block;
          width: 5px;
          height: 25px;
          position: relative;
          background-position: -36px -68px;
          margin: 0 10px; }
          #header ul.menu li.notify a.icons span {
            top: 14px;
            left: 18px;
            position: absolute;
            display: block;
            width: 17px;
            height: 17px;
            background-position: -9px -90px;
            line-height: 15px;
            font-size: 10px;
            color: #fff;
            text-align: center;
            font-family: Arial; }
        #header ul.menu li.notify .submenu {
          width: 318px;
          left: -215px; }
          #header ul.menu li.notify .submenu li.header {
            width: 320px; }
          #header ul.menu li.notify .submenu li.item {
            padding: 5px 0 5px 15px;
            border-bottom: 1px solid #e5e5e5; }
            #header ul.menu li.notify .submenu li.item .photo {
              width: 55px;
              float: left;
              margin-right: 15px; }
            #header ul.menu li.notify .submenu li.item .info {
              width: 200px;
              float: left;
              font-size: 13px;
              color: #999999; }
              #header ul.menu li.notify .submenu li.item .info label {
                color: #00a3cc;
                font-weight: bold; }
              #header ul.menu li.notify .submenu li.item .info .date {
                font-style: italic;
                display: block;
                color: #999999;
                font-size: 11px; }
            #header ul.menu li.notify .submenu li.item .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 296px;
              height: 42px; }
              #header ul.menu li.notify .submenu li.item .overlay:hover {
                background: none; }
          #header ul.menu li.notify .submenu li.all a {
            background-color: #00a3cc;
            padding: 7px 0;
            text-align: center;
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            margin: 5px 15px;
            font-weight: bold; }
            #header ul.menu li.notify .submenu li.all a:hover {
              background-color: #00a3cc; }
        #header ul.menu li.user {
          position: relative;
          margin: 6px 0 0 10px;
          padding: 0 20px 0 5px; }
          #header ul.menu li.user a.overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0; }
            #header ul.menu li.user a.overlay .icons.arrow-down {
              width: 9px;
              height: 7px;
              position: absolute;
              right: 5px;
              top: 20px;
              display: block;
              background-position: -4px -367px; }
          #header ul.menu li.user span.username {
            float: left;
            display: block;
            margin: 12px 15px 0 0; }
            #header ul.menu li.user span.username span {
              display: block;
              text-align: right;
              text-transform: uppercase;
              font-weight: bold;
              margin: 0;
              padding: 0; }
              #header ul.menu li.user span.username span.welcome {
                color: #cccccc;
                font-size: 10px;
                line-height: 8px; }
              #header ul.menu li.user span.username span.name {
                color: #00a3cc;
                font-size: 12px; }
          #header ul.menu li.user span.photo {
            display: block;
            float: left;
            width: 44px;
            height: 44px;
            border: 1px solid #d5d5d5; }
            #header ul.menu li.user span.photo .photo-wrap {
              width: 40px;
              height: 40px;
              overflow: hidden;
              display: block;
              margin: 2px 0 0 2px; }
              #header ul.menu li.user span.photo .photo-wrap img {
                width: 40px;
                display: block; }
          #header ul.menu li.user .submenu {
            width: 196px;
            left: -45px;
            top: 55px; }
            #header ul.menu li.user .submenu li.header {
              width: 198px;
              height: 10px; }
          #header ul.menu li.user:hover {
            background-color: #F5F5F5; }
    #header a.toggle-mobile-menu {
      display: none; }

  html.lt-ie9 #header.small ul.menu li.about a.icons {
    background-position: 55px -349px; }

  #search {
    height: 50px;
    margin-top: 59px; }
    #search .wrap input.field {
      height: 31px;
      background-position: 0 0; }
    #search .wrap input.btn {
      background-position: -30px -358px; }
    #search .wrap .auto-complete {
      width: 100%;
      position: absolute;
      top: 31px;
      z-index: 99;
      display: none; }
      #search .wrap .auto-complete ul li {
        background-color: #FFF;
        position: relative;
        min-height: 40px; }
        #search .wrap .auto-complete ul li label {
          top: 8px;
          position: absolute;
          display: block;
          color: #00a3cc;
          font-weight: bold;
          margin-left: 13px;
          background-color: #FFF;
          z-index: 2;
          padding-right: 10px; }
        #search .wrap .auto-complete ul li span.line {
          position: absolute;
          display: block;
          width: 260px;
          height: 1px;
          background-color: #00a3cc;
          right: 13px;
          top: 20px;
          z-index: 1; }
        #search .wrap .auto-complete ul li a {
          display: block;
          padding: 13px; }
          #search .wrap .auto-complete ul li a .image {
            background-color: #cccccc;
            display: block;
            width: 35px;
            height: 53px;
            float: left; }
          #search .wrap .auto-complete ul li a .info {
            width: 220px;
            float: left;
            margin-left: 13px;
            margin-top: 7px;
            font-size: 13px;
            color: #333333; }
          #search .wrap .auto-complete ul li a:hover {
            background-color: #00a3cc; }
            #search .wrap .auto-complete ul li a:hover .info {
              color: #FFF; }

  html.lt-ie9 #search input.field {
    font-size: 13px;
    line-height: 30px; }

  #content.area-register, #content.area-login {
    margin-top: 169px; }
  #content .mobile-page-title {
    display: none; }
  #content .filter {
    display: block;
    height: 55px;
    margin: 30px 0 40px 0; }
    #content .filter .area {
      position: relative;
      margin: 0 auto;
      width: 485px;
      height: 20px;
      background: transparent url(../images/filter.png) no-repeat; }
      #content .filter .area .bar {
        position: absolute;
        top: 4px;
        left: 6px;
        width: 5px;
        height: 10px;
        background: transparent url(../images/filter.png) no-repeat 0 -56px; }
        #content .filter .area .bar.continuous {
          left: 10px;
          width: 20px;
          background-position: right -56px; }
          #content .filter .area .bar.continuous.estreias, #content .filter .area .bar.continuous.melhores-avaliados, #content .filter .area .bar.continuous.mais-vistos, #content .filter .area .bar.continuous.em-cartaz, #content .filter .area .bar.continuous.todos {
            transition-duration: 0.5s;
            transition-timing-function: ease-in-ou;
            transition-property: width; }
          #content .filter .area .bar.continuous.estreias {
            width: 25px; }
          #content .filter .area .bar.continuous.melhores-avaliados {
            width: 145px; }
          #content .filter .area .bar.continuous.mais-vistos {
            width: 275px; }
          #content .filter .area .bar.continuous.em-cartaz {
            width: 375px; }
          #content .filter .area .bar.continuous.todos {
            width: 475px; }
      #content .filter .area .pin {
        top: -3px;
        left: 0;
        position: absolute;
        width: 30px;
        height: 35px;
        background: transparent url(../images/filter.png) no-repeat 0 -20px;
        display: block;
        z-index: 10;
        cursor: default; }
        #content .filter .area .pin.estreias, #content .filter .area .pin.melhores-avaliados, #content .filter .area .pin.mais-vistos, #content .filter .area .pin.em-cartaz, #content .filter .area .pin.todos {
          transition-duration: 0.5s;
          transition-timing-function: ease-in-ou;
          transition-property: left; }
        #content .filter .area .pin.estreias {
          left: 15px; }
        #content .filter .area .pin.melhores-avaliados {
          left: 135px; }
        #content .filter .area .pin.mais-vistos {
          left: 265px; }
        #content .filter .area .pin.em-cartaz {
          left: 365px; }
        #content .filter .area .pin.todos {
          left: 443px; }
      #content .filter .area ul {
        position: absolute;
        top: 0;
        z-index: 5; }
        #content .filter .area ul li {
          float: left; }
          #content .filter .area ul li a {
            display: block;
            padding: 35px 0 0 0;
            text-transform: uppercase;
            color: #949494;
            font-size: 11px;
            text-align: center; }
            #content .filter .area ul li a.estreias {
              width: 70px; }
            #content .filter .area ul li a.melhores-avaliados {
              width: 160px; }
            #content .filter .area ul li a.mais-vistos {
              width: 100px; }
            #content .filter .area ul li a.em-cartaz {
              width: 97px; }
            #content .filter .area ul li a.todos {
              width: 50px; }
            #content .filter .area ul li a.first {
              text-align: left;
              padding-left: 0; }
            #content .filter .area ul li a.last {
              text-align: right;
              padding-right: 0;
              margin: 0; }
            #content .filter .area ul li a.active {
              color: #00a3cc; }
  #content .simple-grid .box {
    width: 184px; }
  #content .grid {
    width: 747px;
    margin-left: -6px; }
    #content .grid .box {
      position: absolute;
      display: none; }
      #content .grid .box .comment {
        margin: 0 0 15px 15px; }
      #content .grid .box .alert-blue {
        margin: 0 0 0 15px;
        width: 235px;
        height: 183px;
        background: transparent url(../images/bg-alert-blue.png) no-repeat;
        padding-top: 20px; }
        #content .grid .box .alert-blue .title {
          margin: 0 20px;
          height: 68px; }
          #content .grid .box .alert-blue .title .icon {
            background: transparent url(../images/icon.png) no-repeat; }
            #content .grid .box .alert-blue .title .icon.social-network {
              float: left;
              display: block;
              width: 77px;
              height: 37px;
              background-position: 0 -47px;
              margin-right: 20px; }
          #content .grid .box .alert-blue .title .subtitle {
            float: left;
            display: block;
            width: 85px;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase; }
        #content .grid .box .alert-blue .info p {
          color: #91e8fe;
          font-size: 13px;
          margin: 20px 20px; }
  #content .main-area .main.about {
    width: 60%;
    float: left;
    margin-left: 30px; }
  #content .main-area .main.reset-password, #content .main-area .main.forgot-password {
    margin: 0 auto 450px auto;
    width: 90%; }
    #content .main-area .main.reset-password p, #content .main-area .main.forgot-password p {
      color: #444444; }
    #content .main-area .main.reset-password form, #content .main-area .main.forgot-password form {
      margin-top: 15px;
      padding: 30px;
      background-color: #EFEFEF; }
      #content .main-area .main.reset-password form fieldset, #content .main-area .main.forgot-password form fieldset {
        float: left; }
        #content .main-area .main.reset-password form fieldset.btn, #content .main-area .main.forgot-password form fieldset.btn {
          padding-top: 23px;
          width: 20%; }
        #content .main-area .main.reset-password form fieldset label, #content .main-area .main.forgot-password form fieldset label {
          font-size: 14px;
          color: #444444;
          font-weight: bold;
          display: block;
          margin-bottom: 3px; }
  #content .main-area .main.forgot-password form fieldset {
    width: 72%; }
    #content .main-area .main.forgot-password form fieldset .default-field {
      width: 95%; }
  #content .main-area .main.reset-password form fieldset {
    width: 50%; }
    #content .main-area .main.reset-password form fieldset.btn {
      text-align: right;
      width: 99%; }
    #content .main-area .main.reset-password form fieldset .default-field {
      width: 93%; }
  #content .main-area .main.reset-password form p {
    padding-top: 5px;
    font-size: 12px;
    width: 100%;
    clear: both; }
  #content .main-area .main.search {
    margin-left: -10px; }
  #content .main-area .main.register .social {
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0 auto 20px auto; }
    #content .main-area .main.register .social a {
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      width: 258px;
      height: 39px;
      border: 0; }
  #content .main-area .main.register .use-email {
    width: 45%;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
    border-top: 1px solid #e0e0e0; }
    #content .main-area .main.register .use-email p {
      text-align: center;
      margin-bottom: 20px; }
    #content .main-area .main.register .use-email fieldset {
      margin-bottom: 15px; }
      #content .main-area .main.register .use-email fieldset .fl {
        width: 50%;
        float: left; }
      #content .main-area .main.register .use-email fieldset .fr {
        width: 50%;
        float: left; }
      #content .main-area .main.register .use-email fieldset label {
        display: block;
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px; }
      #content .main-area .main.register .use-email fieldset input.default-field {
        width: 90%; }
        #content .main-area .main.register .use-email fieldset input.default-field.name, #content .main-area .main.register .use-email fieldset input.default-field.email {
          width: 95%; }
      #content .main-area .main.register .use-email fieldset input.default-button {
        margin-right: 5px; }
      #content .main-area .main.register .use-email fieldset .error {
        margin: 10px auto 10px auto; }
      #content .main-area .main.register .use-email fieldset p.terms {
        font-size: 12px;
        text-align: left; }
  #content .main-area .main p {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #949494; }
  #content .main-area .sidebar {
    border: 1px solid #f1f1f1;
    width: 25%;
    float: right;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px -10px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 5px 10px -10px rgba(50, 50, 50, 0.25);
    box-shadow: 0 5px 10px -10px rgba(50, 50, 50, 0.25); }
    #content .main-area .sidebar.about {
      margin: 20px 10px 0 0; }
    #content .main-area .sidebar ul li {
      padding: 0 7px; }
      #content .main-area .sidebar ul li a {
        display: block;
        color: #333333;
        text-transform: uppercase;
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        font-weight: normal;
        font-size: 16px; }
        #content .main-area .sidebar ul li a.first {
          margin-top: 7px; }
        #content .main-area .sidebar ul li a.last {
          border: none;
          margin-bottom: 7px; }
        #content .main-area .sidebar ul li a:hover, #content .main-area .sidebar ul li a.active {
          background-color: #5b5b5b;
          color: #fff; } }
@media screen and (min-width: 800px) {
  #container, .container {
    width: 780px; } }
@media screen and (min-width: 1040px) {
  #header h1 {
    margin: 11px 0px 0px 0px; }
  #header ul.menu {
    margin-right: 0; }

  #container,
  .container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px; }

  #content .simple-grid {
    width: 1030px;
    margin: 0 auto; }
    #content .simple-grid .box {
      width: 163px; }
  #content .grid {
    width: 1000px;
    margin: 0 auto; }
  #content .main-area {
    padding: 0 25px; }
    #content .main-area .main.search {
      margin-left: -13px; }
    #content .main-area .main.forgot-password {
      width: 80%; }
      #content .main-area .main.forgot-password form fieldset {
        width: 75%; }
    #content .main-area .main.reset-password form fieldset {
      width: 39%; }
      #content .main-area .main.reset-password form fieldset.btn {
        width: inherit; }
      #content .main-area .main.reset-password form fieldset .default-field {
        width: 290px; }
  #content a.load-more {
    display: none; }

  #footer .left {
    margin-left: 0; }
  #footer .right {
    margin-right: 0; } }
@media screen and (min-width: 1080px) {
  #container, .container {
    width: 1040px;
    margin: 0 auto;
    padding: 0; } }
.noScroll {
  overflow: hidden; }

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden; }

.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible; }

.md-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  z-index: 1500; }

.md-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 730px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .md-modal.md-show {
    visibility: visible; }
  .md-modal .md-content {
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 0 4px 5px -5px rgba(50, 50, 50, 0.65);
    -moz-box-shadow: 0 4px 5px -5px rgba(50, 50, 50, 0.65);
    box-shadow: 0 4px 5px -5px rgba(50, 50, 50, 0.65); }
    .md-modal .md-content button.md-close {
      position: absolute;
      width: 49px;
      height: 47px;
      display: block;
      top: -45px;
      right: 0;
      z-index: 1001; }
    .md-modal .md-content .md-main {
      position: relative;
      background: transparent url(../images/bg.jpg) 0 0 repeat;
      margin: 0 3px 0 6px;
      z-index: 1002;
      padding: 20px 30px; }
      .md-modal .md-content .md-main h3 {
        color: #444444;
        font-size: 18px;
        background: transparent url(../images/title-shadow.png) 0px -42px no-repeat;
        padding: 0 0 40px 35px; }
      .md-modal .md-content .md-main p.subtitle {
        color: #444444;
        font-size: 14px;
        margin-left: 35px; }
      .md-modal .md-content .md-main .clearfix {
        margin-left: 35px; }
        .md-modal .md-content .md-main .clearfix .left {
          width: 260px;
          float: left;
          margin-left: 8px; }
          .md-modal .md-content .md-main .clearfix .left div.loading {
            background-position: right center;
            width: 300px;
            height: auto; }
          .md-modal .md-content .md-main .clearfix .left div a {
            display: block;
            width: 258px;
            height: 39px;
            border: 0; }
          .md-modal .md-content .md-main .clearfix .left span {
            display: block;
            color: #444444;
            font-size: 14px;
            text-align: center;
            margin: 0; }
        .md-modal .md-content .md-main .clearfix .right {
          width: 300px;
          height: 215px;
          float: right;
          border-left: 1px solid #e0e0e0;
          padding: 0 0 0 35px; }
        .md-modal .md-content .md-main .clearfix fieldset {
          display: block;
          margin-bottom: 15px; }
          .md-modal .md-content .md-main .clearfix fieldset label {
            display: block;
            color: #444444;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px; }
          .md-modal .md-content .md-main .clearfix fieldset .email {
            width: 260px; }
          .md-modal .md-content .md-main .clearfix fieldset .box-password {
            margin-left: 0; }
            .md-modal .md-content .md-main .clearfix fieldset .box-password input {
              float: left; }
              .md-modal .md-content .md-main .clearfix fieldset .box-password input.password {
                width: 180px;
                margin-right: 5px; }
          .md-modal .md-content .md-main .clearfix fieldset p {
            margin: 5px 0 0 0;
            font-size: 12px; }
    .md-modal .md-content .shadow-bar {
      position: absolute;
      width: 15px;
      height: 360px;
      background: transparent url(../images/box-shadow.png) 0 0 repeat;
      z-index: 1001;
      top: 0; }
      .md-modal .md-content .shadow-bar.left {
        left: 0; }
      .md-modal .md-content .shadow-bar.right {
        right: 0; }

html.lt-ie9 .md-modal {
  margin-left: -365px; }

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* Effect 7:  slide and stick to top */
.md-effect-7 {
  top: 59px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.md-effect-7 .md-content {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  opacity: 0; }

.md-show.md-effect-7 .md-content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1; }

/* Movie */
#md-movie .md-main,
#md-discussion .md-main {
  padding: 0; }
  #md-movie .md-main .line,
  #md-discussion .md-main .line {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #ffffff;
    margin: 0 30px 0 10px; }
  #md-movie .md-main .clearfix,
  #md-discussion .md-main .clearfix {
    margin: 0; }
    #md-movie .md-main .clearfix .left,
    #md-discussion .md-main .clearfix .left {
      width: 330px;
      margin: 25px 0 40px 30px; }
      #md-movie .md-main .clearfix .left.left-header,
      #md-discussion .md-main .clearfix .left.left-header {
        margin-bottom: 0; }
      #md-movie .md-main .clearfix .left h4, #md-movie .md-main .clearfix .left h5,
      #md-discussion .md-main .clearfix .left h4,
      #md-discussion .md-main .clearfix .left h5 {
        color: #444444;
        margin: 0; }
      #md-movie .md-main .clearfix .left h5,
      #md-discussion .md-main .clearfix .left h5 {
        font-weight: normal; }
      #md-movie .md-main .clearfix .left h4,
      #md-discussion .md-main .clearfix .left h4 {
        font-size: 30px; }
      #md-movie .md-main .clearfix .left h5,
      #md-discussion .md-main .clearfix .left h5 {
        font-size: 14px; }
      #md-movie .md-main .clearfix .left .poster,
      #md-discussion .md-main .clearfix .left .poster {
        width: 100%;
        height: auto; }
        #md-movie .md-main .clearfix .left .poster img,
        #md-discussion .md-main .clearfix .left .poster img {
          width: 100%; }
      #md-movie .md-main .clearfix .left.left-discussion,
      #md-discussion .md-main .clearfix .left.left-discussion {
        width: 200px; }
    #md-movie .md-main .clearfix .right,
    #md-discussion .md-main .clearfix .right {
      width: 470px;
      border: none;
      padding: 0;
      height: auto;
      float: left;
      margin-left: 25px; }
      #md-movie .md-main .clearfix .right .line,
      #md-discussion .md-main .clearfix .right .line {
        margin: 0px 30px 0px 10px; }
      #md-movie .md-main .clearfix .right.right-header,
      #md-discussion .md-main .clearfix .right.right-header {
        width: auto;
        float: right; }
      #md-movie .md-main .clearfix .right .movie-header,
      #md-discussion .md-main .clearfix .right .movie-header {
        width: 366px;
        height: 91px;
        background: transparent url(../images/bg-movie-detail.png) no-repeat; }
        #md-movie .md-main .clearfix .right .movie-header ul li,
        #md-discussion .md-main .clearfix .right .movie-header ul li {
          float: left;
          text-align: center;
          font-size: 14px;
          color: #444444;
          padding-top: 60px;
          position: relative; }
          #md-movie .md-main .clearfix .right .movie-header ul li span.icons,
          #md-discussion .md-main .clearfix .right .movie-header ul li span.icons {
            top: 20px;
            left: 50%;
            position: absolute; }
          #md-movie .md-main .clearfix .right .movie-header ul li.release,
          #md-discussion .md-main .clearfix .right .movie-header ul li.release {
            width: 140px; }
            #md-movie .md-main .clearfix .right .movie-header ul li.release span.icons,
            #md-discussion .md-main .clearfix .right .movie-header ul li.release span.icons {
              margin-left: -16px; }
          #md-movie .md-main .clearfix .right .movie-header ul li.age,
          #md-discussion .md-main .clearfix .right .movie-header ul li.age {
            width: 115px; }
            #md-movie .md-main .clearfix .right .movie-header ul li.age span.icons,
            #md-discussion .md-main .clearfix .right .movie-header ul li.age span.icons {
              margin-left: -28px; }
          #md-movie .md-main .clearfix .right .movie-header ul li.time,
          #md-discussion .md-main .clearfix .right .movie-header ul li.time {
            width: 111px; }
            #md-movie .md-main .clearfix .right .movie-header ul li.time span.icons,
            #md-discussion .md-main .clearfix .right .movie-header ul li.time span.icons {
              margin-left: -16px; }
      #md-movie .md-main .clearfix .right .movie-info,
      #md-discussion .md-main .clearfix .right .movie-info {
        margin: 20px 30px 30px 10px; }
        #md-movie .md-main .clearfix .right .movie-info label, #md-movie .md-main .clearfix .right .movie-info p, #md-movie .md-main .clearfix .right .movie-info p a,
        #md-discussion .md-main .clearfix .right .movie-info label,
        #md-discussion .md-main .clearfix .right .movie-info p,
        #md-discussion .md-main .clearfix .right .movie-info p a {
          font-size: 14px;
          color: #444444; }
        #md-movie .md-main .clearfix .right .movie-info label,
        #md-discussion .md-main .clearfix .right .movie-info label {
          font-weight: bold; }
        #md-movie .md-main .clearfix .right .movie-info p,
        #md-discussion .md-main .clearfix .right .movie-info p {
          margin: 0 0 20px 0; }
          #md-movie .md-main .clearfix .right .movie-info p a,
          #md-discussion .md-main .clearfix .right .movie-info p a {
            text-decoration: none; }
            #md-movie .md-main .clearfix .right .movie-info p a:hover,
            #md-discussion .md-main .clearfix .right .movie-info p a:hover {
              background-color: #00a3cc;
              color: #F1F1F1;
              font-weight: normal; }
      #md-movie .md-main .clearfix .right .share,
      #md-discussion .md-main .clearfix .right .share {
        margin: 0px 30px 0 10px;
        padding-top: 20px; }
        #md-movie .md-main .clearfix .right .share label,
        #md-discussion .md-main .clearfix .right .share label {
          float: left;
          font-size: 14px;
          color: #444444;
          font-weight: bold; }
        #md-movie .md-main .clearfix .right .share .share-buttons,
        #md-discussion .md-main .clearfix .right .share .share-buttons {
          float: right; }
          #md-movie .md-main .clearfix .right .share .share-buttons #___plusone_0,
          #md-discussion .md-main .clearfix .right .share .share-buttons #___plusone_0 {
            width: 60px !important; }
        #md-movie .md-main .clearfix .right .share div.like,
        #md-discussion .md-main .clearfix .right .share div.like {
          margin-top: 10px; }
          #md-movie .md-main .clearfix .right .share div.like a,
          #md-discussion .md-main .clearfix .right .share div.like a {
            display: block;
            width: 117px;
            height: 29px;
            color: #FFF;
            padding: 6px 0 0 45px;
            font-size: 14px;
            text-align: left;
            float: right;
            margin-top: 5px;
            font-weight: bold; }
      #md-movie .md-main .clearfix .right .comment,
      #md-discussion .md-main .clearfix .right .comment {
        display: none; }
      #md-movie .md-main .clearfix .right.right-discussion,
      #md-discussion .md-main .clearfix .right.right-discussion {
        width: 590px; }
        #md-movie .md-main .clearfix .right.right-discussion .movie-header,
        #md-discussion .md-main .clearfix .right.right-discussion .movie-header {
          margin-left: 165px; }
        #md-movie .md-main .clearfix .right.right-discussion .share,
        #md-discussion .md-main .clearfix .right.right-discussion .share {
          display: none; }
        #md-movie .md-main .clearfix .right.right-discussion .comment,
        #md-discussion .md-main .clearfix .right.right-discussion .comment {
          display: block;
          margin-top: 15px; }
          #md-movie .md-main .clearfix .right.right-discussion .comment .photo,
          #md-movie .md-main .clearfix .right.right-discussion .comment .text,
          #md-discussion .md-main .clearfix .right.right-discussion .comment .photo,
          #md-discussion .md-main .clearfix .right.right-discussion .comment .text {
            float: left; }
          #md-movie .md-main .clearfix .right.right-discussion .comment .text,
          #md-discussion .md-main .clearfix .right.right-discussion .comment .text {
            width: 450px;
            margin-left: 10px; }
            #md-movie .md-main .clearfix .right.right-discussion .comment .text p,
            #md-discussion .md-main .clearfix .right.right-discussion .comment .text p {
              margin: 0;
              font-size: 13px; }
              #md-movie .md-main .clearfix .right.right-discussion .comment .text p.author,
              #md-discussion .md-main .clearfix .right.right-discussion .comment .text p.author {
                font-size: 16px;
                font-weight: bold;
                color: #444444; }
            #md-movie .md-main .clearfix .right.right-discussion .comment .text .actions,
            #md-discussion .md-main .clearfix .right.right-discussion .comment .text .actions {
              margin-top: 10px; }
              #md-movie .md-main .clearfix .right.right-discussion .comment .text .actions a,
              #md-discussion .md-main .clearfix .right.right-discussion .comment .text .actions a {
                width: 25px;
                height: 17px;
                font-size: 12px;
                color: #999;
                line-height: 16px;
                padding-right: 20px;
                display: inline-block;
                line-height: 20px; }
                #md-movie .md-main .clearfix .right.right-discussion .comment .text .actions a.up,
                #md-discussion .md-main .clearfix .right.right-discussion .comment .text .actions a.up {
                  background-position: -189px -168px;
                  margin-right: 20px; }
                #md-movie .md-main .clearfix .right.right-discussion .comment .text .actions a.down,
                #md-discussion .md-main .clearfix .right.right-discussion .comment .text .actions a.down {
                  background-position: -195px -144px; }
  #md-movie .md-main .vote,
  #md-discussion .md-main .vote {
    margin-top: 20px;
    width: 100%;
    height: 277px;
    background: transparent url(../images/bg-vote.png) no-repeat top center; }
    #md-movie .md-main .vote .rating,
    #md-discussion .md-main .vote .rating {
      width: 130px;
      height: 115px;
      background-color: #00a3cc;
      padding: 15px 0 0 0;
      float: left;
      margin: 30px 0 0 30px; }
      #md-movie .md-main .vote .rating label, #md-movie .md-main .vote .rating span,
      #md-discussion .md-main .vote .rating label,
      #md-discussion .md-main .vote .rating span {
        color: #FFF;
        font-size: 16px;
        display: block;
        text-align: center;
        margin: 0; }
      #md-movie .md-main .vote .rating span,
      #md-discussion .md-main .vote .rating span {
        font-size: 78px;
        line-height: 80px; }
    #md-movie .md-main .vote .rated-by,
    #md-discussion .md-main .vote .rated-by {
      float: left;
      margin: 60px 0 0 25px; }
      #md-movie .md-main .vote .rated-by label,
      #md-discussion .md-main .vote .rated-by label {
        font-size: 16px;
        color: #444444;
        font-weight: bold;
        margin-bottom: 20px;
        display: block; }
      #md-movie .md-main .vote .rated-by .photos span,
      #md-discussion .md-main .vote .rated-by .photos span {
        font-size: 12px;
        color: #444444; }
    #md-movie .md-main .vote .your-rating,
    #md-discussion .md-main .vote .your-rating {
      margin: 29px 0 0 30px; }
      #md-movie .md-main .vote .your-rating label,
      #md-discussion .md-main .vote .your-rating label {
        width: 120px;
        font-size: 16px;
        color: #444444;
        float: left;
        font-weight: bold;
        text-align: center;
        margin-top: 25px; }
      #md-movie .md-main .vote .your-rating ul,
      #md-discussion .md-main .vote .your-rating ul {
        float: left; }
        #md-movie .md-main .vote .your-rating ul li,
        #md-discussion .md-main .vote .your-rating ul li {
          width: 67px;
          height: 67px;
          float: left;
          text-align: center;
          color: #FFF;
          font-weight: bold;
          font-size: 18px;
          line-height: 75px;
          background-position: -175px 0px; }
          #md-movie .md-main .vote .your-rating ul li.active,
          #md-discussion .md-main .vote .your-rating ul li.active {
            color: #1ca6c8;
            background-position: -175px -74px; }
    #md-movie .md-main .vote.vote-discussion,
    #md-discussion .md-main .vote.vote-discussion {
      padding-top: 20px; }
  #md-movie .md-main .favorite,
  #md-discussion .md-main .favorite {
    margin: 30px; }
    #md-movie .md-main .favorite .favorited-by,
    #md-discussion .md-main .favorite .favorited-by {
      width: 600px;
      float: left; }
      #md-movie .md-main .favorite .favorited-by label,
      #md-discussion .md-main .favorite .favorited-by label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: #444444;
        margin-bottom: 25px; }
      #md-movie .md-main .favorite .favorited-by .photos span,
      #md-discussion .md-main .favorite .favorited-by .photos span {
        font-size: 12px;
        color: #444444; }
    #md-movie .md-main .favorite a.fav,
    #md-discussion .md-main .favorite a.fav {
      display: block;
      width: 127px;
      height: 29px;
      color: #FFF;
      padding: 6px 0 0 45px;
      font-size: 14px;
      text-align: left;
      float: right;
      margin-top: 64px;
      font-weight: bold; }
  #md-movie .md-main .comments,
  #md-discussion .md-main .comments {
    margin: 30px;
    padding-bottom: 20px; }
    #md-movie .md-main .comments label,
    #md-discussion .md-main .comments label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: #444444;
      margin-bottom: 40px; }
      #md-movie .md-main .comments label span,
      #md-discussion .md-main .comments label span {
        text-decoration: underline; }
    #md-movie .md-main .comments .box-discussion-comment,
    #md-discussion .md-main .comments .box-discussion-comment {
      display: none;
      margin-bottom: 20px; }
    #md-movie .md-main .comments .comment,
    #md-discussion .md-main .comments .comment {
      margin: 20px 0; }
      #md-movie .md-main .comments .comment.comment-discussion,
      #md-discussion .md-main .comments .comment.comment-discussion {
        padding: 20px;
        background-color: #e8e5e5; }
        #md-movie .md-main .comments .comment.comment-discussion .text,
        #md-discussion .md-main .comments .comment.comment-discussion .text {
          width: 69%; }
        #md-movie .md-main .comments .comment.comment-discussion .actions,
        #md-discussion .md-main .comments .comment.comment-discussion .actions {
          width: 16%; }
      #md-movie .md-main .comments .comment .photo,
      #md-discussion .md-main .comments .comment .photo {
        float: left;
        width: 10%; }
      #md-movie .md-main .comments .comment .text,
      #md-discussion .md-main .comments .comment .text {
        width: 70%;
        float: left;
        margin-right: 5%; }
        #md-movie .md-main .comments .comment .text p,
        #md-discussion .md-main .comments .comment .text p {
          margin: 0;
          font-size: 13px; }
          #md-movie .md-main .comments .comment .text p.author,
          #md-discussion .md-main .comments .comment .text p.author {
            font-size: 16px;
            font-weight: bold;
            color: #444444; }
      #md-movie .md-main .comments .comment .actions,
      #md-discussion .md-main .comments .comment .actions {
        width: 15%;
        float: left;
        text-align: right;
        margin-top: 25px; }
        #md-movie .md-main .comments .comment .actions a,
        #md-discussion .md-main .comments .comment .actions a {
          display: block; }
          #md-movie .md-main .comments .comment .actions a.up, #md-movie .md-main .comments .comment .actions a.down,
          #md-discussion .md-main .comments .comment .actions a.up,
          #md-discussion .md-main .comments .comment .actions a.down {
            width: 25px;
            height: 17px;
            font-size: 12px;
            color: #999;
            line-height: 16px;
            padding-right: 20px; }
          #md-movie .md-main .comments .comment .actions a.up,
          #md-discussion .md-main .comments .comment .actions a.up {
            margin-left: 10px;
            float: left;
            background-position: -184px -168px; }
          #md-movie .md-main .comments .comment .actions a.down,
          #md-discussion .md-main .comments .comment .actions a.down {
            margin-right: 15px;
            float: right;
            background-position: -183px -144px; }
          #md-movie .md-main .comments .comment .actions a.reply,
          #md-discussion .md-main .comments .comment .actions a.reply {
            background-color: #58595b;
            color: #FFF;
            font-size: 11px;
            text-align: center;
            margin-top: 10px; }
      #md-movie .md-main .comments .comment.send-comment,
      #md-discussion .md-main .comments .comment.send-comment {
        display: none; }
        #md-movie .md-main .comments .comment.send-comment textarea,
        #md-discussion .md-main .comments .comment.send-comment textarea {
          margin-top: 10px;
          width: 670px; }
        #md-movie .md-main .comments .comment.send-comment .button,
        #md-discussion .md-main .comments .comment.send-comment .button {
          margin-top: -25px; }
          #md-movie .md-main .comments .comment.send-comment .button input,
          #md-discussion .md-main .comments .comment.send-comment .button input {
            float: right;
            margin-right: 37px;
            margin-top: -10px; }
    #md-movie .md-main .comments .real-discussion,
    #md-discussion .md-main .comments .real-discussion {
      display: none;
      min-height: 30px;
      margin-bottom: 20px;
      padding-bottom: 20px; }
  #md-movie .md-main .discussion,
  #md-discussion .md-main .discussion {
    background: transparent url(../images/bg.jpg) 0 0 repeat;
    width: 861px;
    height: 1000px;
    position: absolute;
    top: 845px;
    left: 0;
    display: none; }

@media only screen and (min-width: 1040px) {
  html.lt-ie9 .md-modal {
    margin-left: -435px; }

  .md-modal {
    width: 870px; }
    .md-modal .md-content button.md-close {
      right: -48px; }
    .md-modal .md-content .md-main {
      padding: 20px 65px; }
      .md-modal .md-content .md-main h3 {
        background-position: 0 30px; }
      .md-modal .md-content .md-main.login .right {
        padding: 0 0 0 65px; } }

/*# sourceMappingURL=main.css.map */
