@media screen and (min-width: 1040px){
	#header {
		h1 {
			margin: 11px 0px 0px 0px;
		}

		ul.menu {
			margin-right: 0;
		}
	}

	#container,
	.container {
		width: 1020px;
		margin: 0 auto;
		padding: 0 10px;
	}

	#content {
		.simple-grid {
			width: 1030px;
			margin: 0 auto;

			.box {
				width: 163px;
			}
		}

		.grid {
			width: 1000px;
			margin: 0 auto;
		}

		.main-area {
			padding: 0 25px;

			.main {
				&.search {
					margin-left: -13px;
				}

				&.forgot-password {
					width: 80%;

					form {
						fieldset {
							width: 75%;
						}
					}
				}

				&.reset-password {
					form {
						fieldset {
							width: 39%;

							&.btn {
								width: inherit;
							}

							.default-field {
								width: 290px;
							}
						}
					}
				}
			}
		}

		a.load-more {
			display: none;
		}
	}

	#footer {
		.left {
			margin-left: 0;
		}

		.right {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 1080px){
	#container, .container {
		width: 1040px;
		margin: 0 auto;
		padding: 0;
	}
}