* { color: #000; }
a { text-decoration: none; outline: none !important; }
.ar { text-align: right; }
.loader { background: transparent url(../images/loader.gif) no-repeat center center; height: 50px; }
.loader-button { background: transparent url(../images/loader-button.gif) no-repeat 10px center; padding-left: 35px !important; }
.loader.bottom { position: fixed; bottom: 60px; right: 20px; width: 32px; height: 32px; }
label.error, p.error { color: #d32222 !important; font-weight: normal !important; }
p.error { font-weight: bold !important; }

// Messages
.alert-message {
	padding: 25px 40px 25px 70px;
	margin-bottom: 30px;
	position: relative;
	@include shadow(0px, 1px, 1px, 0);

	p {
		font-size: 14px;
		display: block;
		text-align: center;
		margin: 0 !important;
	}

	&.alert-success {
		background-color: #FFFFFF;

		p,
		p strong {
			color: #333333;
		}
	}

	&.alert-warning {
		background-color: #fcf8e3;
	}

	&.alert-error {
		background-color: #ffe5e5;
	}

	p a {
		text-decoration: underline;
	}

	.notify {
		position: absolute;
		left: 20px;
		top: 50%;
		margin-top: -16px;
	}

	.check {
		position: absolute;
		left: 20px;
		top: 50%;
		margin-top: -16px;
	}
}

div.error {
	width: 275px;
	height: 42px;
	background: transparent url(../images/error-shadow.png) center bottom no-repeat;

	&.hide {
		display: none;
	}

	p {
		text-align: center;
		height: 30px;
		margin: 0;
		padding: 0;
		display: block;
		background-color: #FFF;
		color: red !important;
		font-size: 14px;
		line-height: 30px;
		font-weight: bold;
		border-top: 1px solid #EDEDED;
		border-left: 1px solid #EDEDED;
		border-right: 1px solid #EDEDED;
	}
}

.default-button {
	background-color: $blue;
	color: #FFF;
	text-transform: uppercase;
	border: none;
	padding: 10px 15px;
	font-size: 11px;
}

.default-field {
	background-color: #d9dedf;
	border: 1px solid #c1c5c8;
	@include innerShadow(0, 4px, 5px, -7px, 0.65);
	font-size: 16px;
	padding: 6.5px;
}

.default-link {
	color: $blue_2;
	font-size: 12px;

	&:hover {
		text-decoration: underline;
	}
}

span.info {
	font-size: 12px;
	color: #999999;
}

.buttons {
	background: transparent url(../images/buttons.png) no-repeat;

	&.social-twitter {
		background-position: 0 -42px;
	}

	&.social-google {
		background-position: 0 -86px;
	}

	&.like {
		background-position: 0 -130px;
	}

	&.fav {
		background-position: 0 -168px;
	}

	&.like-comment {
		background-position: -212px -168px;
	}

	&.unlike-comment {
		background-position: -212px -144px;
	}
}

.icons {
	background: transparent url(../images/icon.png) no-repeat;

	&.favorite, &.icon-comment, &.want-to-watch {
		width: 20px;
		height: 20px;
		display: block;
	}
	&.favorite {
		background-position: -1px -29px;
	}
	&.want-to-watch {
		width: 21px;
		height: 21px;
		background-position: -27px -28px;
	}
	&.separator {
		background-position: -151px -30px;
	}
	&.modalClose {
		background-position: -6px -409px;
	}
	&.check {
		display: block;
		width: 32px;
		height: 32px;
		background-position: -169px -445px;
	}
	&.notify {
		display: block;
		width: 32px;
		height: 32px;
		background-position: -207px -443px;
	}
	&.calendar {
		display: block;
		width: 32px;
		height: 32px;
		background-position: -203px -394px;
	}
	&.age {
		display: block;
		width: 56px;
		height: 35px;
		background-position: -190px -305px;
	}
	&.time {
		display: block;
		width: 32px;
		height: 32px;
		background-position: -203px -350px;
	}
}