// Imports
@import "mixins";
@import "vars";
@import "helper";

body {
	background: transparent url(../images/bg.jpg) 0 0 repeat;
	font-family: 'PT Sans', sans-serif;
	overflow-y: scroll;
}

// Wrap content
#container, .container {
	width: 96%;
	margin: 0 auto;
	padding: 0 2%;
}

#header {
	background-color: #fff;
	width: 100%;
	height: 59px;
	background: transparent url(../images/bg-header.jpg) repeat-x center bottom;
	position: relative;

	h1 {
		margin: 11px 0 0 9px;
		padding: 0;
		float: left;

		a {
			width: 155px;

			img {
				display: block;
			}
		}
	}

	ul.menu {
		display: none;
	}

	a.toggle-mobile-menu {
		position: absolute;
		display: block;
		width: 50px;
		height: 49px;
		right: 10px;
		top: 0;
		padding-top: 10px;

		span.icon-bar {
			display: block;
			width: 40px;
			height: 5px;
			background-color: #D1D6D8;
			margin: 5px auto 5px auto;
		}

		&.active {
			background-color: #D1D6D8;

			span.icon-bar {
				background-color: #FFFFFF;
			}
		}
	}

	ul.mobile-menu {
		width: 96%;
		top: 59px;
		position: absolute;
		z-index: 99;
		display: none;

		&.show {
			display: block;
		}

		li {
			a {
				padding: 10px;
				text-align: right;
				display: block;
				background-color: #D1D6D8;
				text-transform: uppercase;
				color: #797B7C;

				&:hover {
					color: $blue;
					padding-right: 20px;
					background-color: #D6DADB;
				}
			}

			border-bottom: 1px solid #FFF;
		}
	}
}

#search {
	margin-top: 10px;
	height: 50px;

	.wrap {
		margin: 0 auto;
		width: 295px;
		position: relative;

		input {
			position: absolute;

			&.field {
				left: 0;
				width: 285px;
				height: 38px;
				border: none;
				background: transparent url(../images/bg-search.png) no-repeat bottom left;
				color: #fff;
				font-size: 12px;
				padding: 0 5px;
			}

			&.btn {
				width: 30px;
				height: 30px;
				border: none;
				right: 0;
				background-position: -30px -354px;
			}
		}
	}
}

#content {
	.mobile-page-title {
		h2 {
			color: #9FA0A0;
			text-align: center;
		}

		hr {
			border: none;
			border-bottom: 1px solid #EDEDED;
		}
	}

	.filter {
		display: none;
	}

	.simple-grid {
		width: auto;

		.box {
			width: 153px;
			float: left;

			.cast {
				width: 147px;
				height: 222px;
				background-color: #FFF;
				position: relative;
				margin: 0 auto 24.4px auto;

				label {
					background-color: $blue;
					bottom: 0;
					left: 0;
					position: absolute;
					font-size: 12px;
					color: #FFF;
					text-transform: uppercase;
					padding: 7px 10px;
				}
			}
		}
	}

	.grid {
		width: auto;
		position: relative;

		.box {
			.movie {
				background: transparent url(../images/bg-box.png) no-repeat top left;
				width: 249px;
				height: 480px;
				margin: 0 auto;
				position: relative;

				&.small {
					background-position: -498px 0;
					height: 416px;
				}
				&.medium {
					background-position: -249px 0;
					height: 448px;
				}

				.marker {
					display: block;
					position: absolute;
					left: 10px;
					top: 15px;
					width: 130px;
					height: 40px;
					background: transparent url(../images/box-marker.png) no-repeat;
					z-index: 2;

					&.valued {
						background-position: 0 -40px;
					}
					&.valued-min {
						background-position: 0 -80px;
					}

					.left,
					.right {
						float: left;
						color: #fff;
						display: block;
						height: 30px;
					}

					.left {
						width: 55px;
						font-size: 20px;
						text-align: center;
						line-height: 33px;

						&.text {
							font-size: 12px;
							text-transform: uppercase;
						}
					}

					.right {
						margin: 4px 0 0 10px;
						width: 60px;
						font-size: 10px;
						text-transform: uppercase;

						&.number {
							margin: 2px 0 0 0;
							width: 40px;
							text-align: center;
							font-size: 20px;
						}
					}
				}

				.area {
					position: relative;
					left: 25px;
					top: 15px;
					z-index: 1;
					width: 200px;

					.poster {
						width: 200px;
						height: 300px;
						background-color: #ccc;
						margin-bottom: 15px;
						position: relative;
						background: transparent url(../images/loader.gif) no-repeat center center;

						a {
							&.hover {
								position: absolute;
								display: none;
								width: 79px;
								height: 79px;
								left: 60.5px;
								

								&.watch {
									background-position: 0 -152px;
									top: 70px;

									&:hover {
										background-position: -78px -152px;
									}
								}

								&.like {
									background-position: 0 -241px;
									top: 155px;

									&:hover {
										background-position: -78px -241px;
									}
								}

								&.favorite {
									background-position: -78px -330px;
									top: 155px;

									&:hover {
										background-position: -78px -414px;
									}
								}
							}

							&.overlay {
								width: 200px;
								height: 300px;
								display: block;
								cursor: -webkit-zoom-in;
								cursor: -moz-zoom-in;

								img {
									width: 200px;
									height: 300px;
									display: block;
								}
							}
						}

						&:hover {
							a.hover {
								// display: block;
							}
						}
					}

					p {
						margin: 0;

						&.ttl {
							font-size: 14px;
							text-transform: uppercase;
							color: $gray_1;
							font-weight: bold;
							height: 40px;
						}

						&.desc {
							font-size: 11px;
							color: $gray_2;
							margin-top: 5px;
							text-transform: uppercase;

							strong {
								color: $gray_2;
							}
						}
					}
				}

				.info {
					width: 229px;
					left: 17px;
					position: absolute;
					bottom: 18px;

					.line {
						font-size: 11px;
						color: $gray_2;
						padding: 8px 15px 8px 50px;
						position: relative;
						border-top: 1px solid #eeeeee;

						span.icons {
							top: 8px;
							left: 15px;
							position: absolute;
						}
					}
				}
			}

			.comment {
				margin: 0 auto 15px auto;
				width: 231px;
				background: transparent url(../images/bg-comment.png) no-repeat 0 0;
				border-bottom: 1px solid #a8aeb0;
				padding: 22px 0 0 0;

				.user-data {
					margin-left: 18px;
					height: 45px;

					.photo {
						display: block;
						width: 30px;
						height: 30px;
						float: left;
						border: 1px solid #7a7e7f;
					}

					.info {
						margin-left: 10px;
						float: left;

						p {
							margin: 0;
							padding: 0;
							color: #fff;
						}

						.name {
							font-size: 13px;
						}

						.date {
							font-size: 10px;
						}
					}
				}

				.user-comment {
					border-top: 1px solid #a1a8aa;
					margin-left: 2px;
					padding: 10px 18px;

					p {
						margin: 0;
						padding: 0;
						color: #fff;
						font-size: 11px;
					}
				}
			}
		}
	}

	.main-area {
		background: transparent url(../images/bg-title.png) no-repeat center 30px;
		padding: 0 0;
		margin-top: 60px;

		h2 {
			color: $blue_2;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
		}

		.main {
			padding-top: 20px;
		}
	}

	a.load-more {
		display: block;
		text-align: center;
		color: #FFF;
		background-color: $blue;
		padding: 10px 0;
		margin-top: 50px;
		margin-bottom: 10px;
	}

	&.area-movie .main-area {
		.left {
			float: left;
			width: 50%;

			.poster {
				img {
					max-width: 200px;
				}
			}
		}

		.right {
			width: 50%;
			float: right;

			.tablet-desktop-info {
				display: none;
			}
		}
	}
}

#footer {
	margin-top: 80px;
	padding: 25px 0 100px 0;
	background-color: #FFF;

	.left {
		margin-left: 5%;

		p {
			margin-top: 8px;
			font-size: 12px;
		}
	}

	.right {
		display: none;
	}
}

@media screen and (min-width: 360px){
	#content {
		.simple-grid {
			.box {
				width: 172px;
			}
		}
	}

	#footer {
		.left,
		.right {
			width: 45%;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
			margin-right: 5%;
			display: block;

			a {
				float: right;
				width: 70px;
				height: 67px;
				display: block;
				margin-left: 7px;
				float: right;

				&.facebook {	
					background-position: -10px -510px;
				}
				&.youtube {	
					display: none;
					background-position: -87px -510px;
				}
				&.twitter {	
					background-position: -164px -510px;
				}
			}
		}
	}
}

@media screen and (min-width: 400px){
	#content {
		.simple-grid {
			.box {
				width: 192px;
			}
		}
	}
}

@media screen and (min-width: 480px){
	#content {
		.simple-grid {
			.box {
				width: 230px;
			}
		}
	}
}

// Responsive screen
@import "tablet";
@import "desktop";

// Plugins
@import "modal";