@mixin shadow($horizontal, $vertical, $blur, $size: -5px, $opacity: 0.25, $r: 50, $g: 50, $b: 50) {
	-webkit-box-shadow: $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
	-moz-box-shadow: $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
	box-shadow: $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
}
@mixin innerShadow($horizontal, $vertical, $blur, $size: -5px, $opacity: 0.25, $r: 50, $g: 50, $b: 50) {
	-webkit-box-shadow: inset $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
	-moz-box-shadow: inset $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
	box-shadow: inset $horizontal $vertical $blur $size rgba($r, $g, $b, $opacity);
}