// * Copyright 2013, Codrops
.noScroll {
    overflow: hidden;
}

.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(255,255,255,0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 1500;
}

.md-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 730px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    &.md-show {
        visibility: visible;
    }

    .md-content {
        position: relative;
        margin: 0 auto;
        @include shadow(0, 4px, 5px, -5px, 0.65);

        button.md-close {
            position: absolute;
            width: 49px;
            height: 47px;
            display: block;
            top: -45px;
            right: 0; 
            z-index: 1001;
        }

        .md-main {
            position: relative;
            background: transparent url(../images/bg.jpg) 0 0 repeat;
            margin: 0 3px 0 6px;
            z-index: 1002;
            padding: 20px 30px;

            // Login
            h3 {
                color: $gray_1;
                font-size: 18px;
                background: transparent url(../images/title-shadow.png) 0px -42px no-repeat;
                padding: 0 0 40px 35px;
            }

            p.subtitle {
                color: $gray_1;
                font-size: 14px;
                margin-left: 35px;
            }

            .clearfix {
                margin-left: 35px;

                .left {
                    width: 260px;
                    float: left;
                    margin-left: 8px;

                    div {
                        &.loading {
                            background-position: right center;
                            width: 300px;
                            height: auto;
                        }

                        a {
                            display: block;
                            width: 258px;
                            height: 39px;
                            border: 0;
                        }
                    }

                    span {
                        display: block;
                        color: $gray_1;
                        font-size: 14px;
                        text-align: center;
                        margin: 0;
                    }
                }

                .right {
                    width: 300px;
                    height: 215px;
                    float: right;
                    border-left: 1px solid #e0e0e0;
                    padding: 0 0 0 35px;
                }

                fieldset {
                    display: block;
                    margin-bottom: 15px;

                    label {
                        display: block;
                        color: $gray_1;
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .email {
                        width: 260px;
                    }

                    .box-password {
                        margin-left: 0;

                        input {
                            float: left;

                            &.password {
                                width: 180px;
                                margin-right: 5px;
                            }
                        }
                    }

                    p {
                        margin: 5px 0 0 0;
                        font-size: 12px;
                    }
                }
            }
        }

        .shadow-bar {
            position: absolute;
            width: 15px;
            height: 360px;
            background: transparent url(../images/box-shadow.png) 0 0 repeat;
            z-index: 1001;
            top: 0;

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }
}

html.lt-ie9 .md-modal {
    margin-left: -365px;
}

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 7:  slide and stick to top */
.md-effect-7{
    top: 59px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.md-effect-7 .md-content {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}

.md-show.md-effect-7 .md-content {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}


/* Movie */
#md-movie,
#md-discussion {
    .md-main {
        padding: 0;

        .line {
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #ffffff;
            margin: 0 30px 0 10px;
        }

        .clearfix {
            margin: 0;

            .left {
                width: 330px;
                margin: 25px 0 40px 30px;

                &.left-header {
                    margin-bottom: 0;
                }

                h4, h5 {
                    color: $gray_1;
                    margin: 0;
                }

                h5 {
                    font-weight: normal;
                }

                h4 {
                    font-size: 30px;
                }

                h5 {
                    font-size: 14px;
                }

                .poster {
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                    }
                }

                &.left-discussion {
                    width: 200px;
                }
            }

            .right {
                width: 470px;
                border: none;
                padding: 0;
                height: auto;
                float: left;
                margin-left: 25px;

                .line {
                    margin: 0px 30px 0px 10px;
                }

                &.right-header {
                    width: auto;
                    float: right;
                }

                .movie-header {
                    width: 366px;
                    height: 91px;
                    background: transparent url(../images/bg-movie-detail.png) no-repeat;

                    ul {
                        li {
                            float: left;
                            text-align: center;
                            font-size: 14px;
                            color: $gray_1;
                            padding-top: 60px;
                            position: relative;

                            span.icons {
                                top: 20px;
                                left: 50%;
                                position: absolute;
                            }

                            &.release {
                                width: 140px;

                                span.icons {
                                    margin-left: -16px;
                                }
                            }

                            &.age {
                                width: 115px;

                                span.icons {
                                    margin-left: -28px;
                                }
                            }

                            &.time {
                                width: 111px;

                                span.icons {
                                    margin-left: -16px;
                                }
                            }
                        }
                    }
                }

                .movie-info {
                    margin: 20px 30px 30px 10px;

                    label, p, p a {
                        font-size: 14px;
                        color: $gray_1;
                    }

                    label {
                        font-weight: bold;
                    }

                    p {
                        margin: 0 0 20px 0;

                        a {
                            text-decoration: none;

                            &:hover {
                                background-color: $blue;
                                color: #F1F1F1;
                                font-weight: normal;
                            }
                        }
                    }
                }

                .share {
                    margin: 0px 30px 0 10px;
                    padding-top: 20px;

                    label {
                        float: left;
                        font-size: 14px;
                        color: $gray_1;
                        font-weight: bold;
                    }

                    .share-buttons {
                        float: right;

                        #___plusone_0 {
                            width: 60px !important;
                        }
                    }

                    div.like {
                        margin-top: 10px;

                        a {
                            display: block;
                            width: 117px;
                            height: 29px;
                            color: #FFF;
                            padding: 6px 0 0 45px;
                            font-size: 14px;
                            text-align: left;
                            float: right;
                            margin-top: 5px;
                            font-weight: bold;
                        }
                    }
                }

                .comment {
                    display: none;
                }

                &.right-discussion {
                    width: 590px;

                    .movie-header {
                        margin-left: 165px;
                    }

                    .share {
                        display: none;
                    }

                    .comment {
                        display: block;
                        margin-top: 15px;

                        .photo,
                        .text {
                            float: left;
                        }

                        .text {
                            width: 450px;
                            margin-left: 10px;

                            p {
                                margin: 0;
                                font-size: 13px;

                                &.author {
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #444444;
                                }
                            }

                            .actions {
                                margin-top: 10px;

                                a {
                                    width: 25px;
                                    height: 17px;
                                    font-size: 12px;
                                    color: #999;
                                    line-height: 16px;
                                    padding-right: 20px;
                                    display: inline-block;
                                    line-height: 20px;

                                    &.up {
                                        background-position: -189px -168px;
                                        margin-right: 20px;
                                    }

                                    &.down {
                                        background-position: -195px -144px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .vote {
            margin-top: 20px;
            width: 100%;
            height: 277px;
            background: transparent url(../images/bg-vote.png) no-repeat top center;

            .rating {
                width: 130px;
                height: 115px;
                background-color: $blue;
                padding: 15px 0 0 0;
                float: left;
                margin: 30px 0 0 30px;

                label, span {
                    color: #FFF;
                    font-size: 16px;
                    display: block;
                    text-align: center;
                    margin: 0;
                }

                span {
                    font-size: 78px;
                    line-height: 80px;
                }
            }

            .rated-by {
                float: left;
                margin: 60px 0 0 25px;

                label {
                    font-size: 16px;
                    color: $gray_1;
                    font-weight: bold;
                    margin-bottom: 20px;
                    display: block;
                }

                .photos {
                    span {
                        font-size: 12px;
                        color: $gray_1;
                    }
                }
            }

            .your-rating {
                margin: 29px 0 0 30px;

                label {
                    width: 120px;
                    font-size: 16px;
                    color: $gray_1;
                    float: left;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 25px;
                }

                ul {
                    float: left;

                    li {
                        width: 67px;
                        height: 67px;
                        float: left;
                        text-align: center;
                        color: #FFF;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 75px;
                        background-position: -175px 0px;

                        &.active {
                            color: #1ca6c8;
                            background-position: -175px -74px;
                        }
                    }
                }
            }

            &.vote-discussion {
                padding-top: 20px;
            }
        }

        .favorite {
            margin: 30px;

            .favorited-by {
                width: 600px;
                float: left;

                label {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    color: $gray_1;
                    margin-bottom: 25px;
                }

                .photos {
                    span {
                        font-size: 12px;
                        color: $gray_1;
                    }
                }
            }

            a.fav {
                display: block;
                width: 127px;
                height: 29px;
                color: #FFF;
                padding: 6px 0 0 45px;
                font-size: 14px;
                text-align: left;
                float: right;
                margin-top: 64px;
                font-weight: bold;
            }
        }

        .comments {
            margin: 30px;
            padding-bottom: 20px;

            label {
                display: block;
                font-size: 16px;
                font-weight: bold;
                color: $gray_1;
                margin-bottom: 40px;

                span {
                    text-decoration: underline;
                }
            }

            .box-discussion-comment {
                display: none;
                margin-bottom: 20px;
            }

            .comment {
                margin: 20px 0;

                &.comment-discussion {
                    padding: 20px;
                    background-color: #e8e5e5;

                    .text {
                        width: 69%;
                    }

                    .actions {
                        width: 16%;
                    }
                }

                .photo {
                    float: left;
                    width: 10%;
                }

                .text {
                    width: 70%;
                    float: left;
                    margin-right: 5%;

                    p {
                        margin: 0;
                        font-size: 13px;

                        &.author {
                            font-size: 16px;
                            font-weight: bold;
                            color: $gray_1;
                        }
                    }
                }

                .actions {
                    width: 15%;
                    float: left;
                    text-align: right;
                    margin-top: 25px;

                    a {
                        display: block;

                        &.up,
                        &.down {
                            width: 25px;
                            height: 17px;
                            font-size: 12px;
                            color: #999;
                            line-height: 16px;
                            padding-right: 20px;
                        }

                        &.up {
                            margin-left: 10px;
                            float: left;
                            background-position: -184px -168px;
                        }

                        &.down {
                            margin-right: 15px;
                            float: right;
                            background-position: -183px -144px;
                        }

                        &.reply {
                            background-color: #58595b;
                            color: #FFF;
                            font-size: 11px;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }

                &.send-comment {
                    display: none;

                    textarea {
                        margin-top: 10px;
                        width: 670px;
                    }

                    .button {
                        margin-top: -25px;

                        input {
                            float: right;
                            margin-right: 37px;
                            margin-top: -10px;
                        }
                    }
                }
            }

            .real-discussion {
                display: none;
                min-height: 30px;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
        }

        .discussion {
            background: transparent url(../images/bg.jpg) 0 0 repeat;
            width: 861px;
            height: 1000px;
            position: absolute;
            top: 845px;
            left: 0;
            display: none;
        }
    }
}

// Responsive screen
@media only screen and (min-width: 1040px){
    html.lt-ie9 .md-modal {
        margin-left: -435px;
    }

    .md-modal {
        width: 870px;

        .md-content {
            button.md-close {
                right: -48px;
            }

            .md-main {
                padding: 20px 65px;

                h3 {
                    background-position: 0 30px;
                }

                &.login {
                    .right {
                        padding: 0 0 0 65px;
                    }
                }
            }
        }
    }
}