@media screen and (min-width: 768px){
	#header {
		position: fixed;
		z-index: 999;
		top: 0;

		ul.menu {
			display: block;
			width: auto;
			float: right;
			margin-right: 10px;

			li {
				float: right;
				display: block;
				position: relative;

				a {
					display: block;
					color: $gray_2;
					font-size: 12px;
					font-weight: bold;
					line-height: 26px;
					padding: 16px 15px;

					&.last {
						padding-right: 0;
					}

					&.active {
						color: $blue_2;
					}

					&:hover {
						color: #878787;
					}
				}

				ul.submenu {
					position: absolute;
					top: 60px;
					border-left: 1px solid $gray_3;
					border-right: 1px solid $gray_3;
					border-bottom: 1px solid $gray_3;
					background-color: #ffffff;
					margin: 0;
					padding: 0;
					@include shadow(0, 5px, 10px);

					li {
						float: none;
						margin: 0;
						height: auto;
						position: relative;

						a {
							display: block;
							padding: 10px 0 10px 20px;
							line-height: normal;
							font-size: 13px;
							color: $gray_5;
							font-weight: normal;

							&:hover {
								background-color: #f1f1f1;
							}
						}

						&.header {
							position: absolute;
							background: transparent url(../images/bg-painel-about.png) no-repeat right top;
							top: -10px;
							left: -1px;
							height: 40px;
						}

						&.ttl {
							font-size: 14px;
							color: $blue;
							padding: 10px 0 10px 15px;
							border-bottom: 1px dashed #7f7f81;
							margin-bottom: 5px;
							font-weight: bold;
						}
					}
				}

				&.separator {
					width: 1px;
					height: 59px;
					background-position: -151px -12px;
				}

				&.about {
					a.icons {
						padding-right: 25px;
						background-position: 55px -341px;
						margin-right: 5px;
					}

					.submenu {
						width: 196px;
						left: -80px;

						li.header {
							width: 198px;
						}
					}
				}

				&.notify {
					a.icons {
						display: block;
						width: 5px;
						height: 25px;
						position: relative;
						background-position: -36px -68px;
						margin: 0 10px;

						span {
							top: 14px;
							left: 18px;
							position: absolute;
							display: block;
							width: 17px;
							height: 17px;
							background-position: -9px -90px;
							line-height: 15px;
							font-size: 10px;
							color: #fff;
							text-align: center;
							font-family: Arial;
						}
					}

					.submenu {
						width: 318px;
						left: -215px;

						li {
							&.header {
								width: 320px;
							}

							&.item {
								padding: 5px 0 5px 15px;
								border-bottom: 1px solid $gray_6;

								.photo {
									width: 55px;
									float: left;
									margin-right: 15px;
								}

								.info {
									width: 200px;
									float: left;
									font-size: 13px;
									color: $gray_5;

									label {
										color: $blue;
										font-weight: bold;
									}

									.date {
										font-style: italic;
										display: block;
										color: $gray_5;
										font-size: 11px;
									}
								}

								.overlay {
									position: absolute;
									top: 0;
									left: 0;
									width: 296px;
									height: 42px;

									&:hover {
										background: none;
									}
								}
							}

							&.all {
								a {
									background-color: #00a3cc;
									padding: 7px 0;
									text-align: center;
									display: block;
									color: #fff;
									text-transform: uppercase;
									font-size: 12px;
									margin: 5px 15px;
									font-weight: bold;

									&:hover {
										background-color: #00a3cc;
									}
								}
							}
						}
					}
				}

				&.user {
					position: relative;
					margin: 6px 0 0 10px;
					padding: 0 20px 0 5px;

					a.overlay {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 0;

						.icons.arrow-down {
							width: 9px;
							height: 7px;
							position: absolute;
							right: 5px;
							top: 20px;
							display: block;
							background-position: -4px -367px;
						}
					}

					span.username {
						float: left;
						display: block;
						margin: 12px 15px 0 0;

						span {
							display: block;
							text-align: right;
							text-transform: uppercase;
							font-weight: bold;
							margin: 0;
							padding: 0;

							&.welcome {
								color: $gray_3;
								font-size: 10px;
								line-height: 8px;
							}

							&.name {
								color: $blue;
								font-size: 12px;
							}
						}
					}

					span.photo {
						display: block;
						float: left;
						width: 44px;
						height: 44px;
						border: 1px solid $gray_4;

						.photo-wrap {
							width: 40px;
							height: 40px;
							overflow: hidden;
							display: block;
							margin: 2px 0 0 2px;

							img {
								width: 40px;
								display: block;
							}
						}
					}

					.submenu {
						width: 196px;
						left: -45px;
						top: 55px;

						li {
							&.header {
								width: 198px;
								height: 10px;
							}
						}
					}

					&:hover {
						background-color: #F5F5F5;
					}
				}
			}
		}

		a.toggle-mobile-menu {
			display: none;
		}
	}

	// IE8
	html.lt-ie9 #header.small ul.menu li.about a.icons {
		background-position: 55px -349px;
	}
	// 

	#search {
		height: 50px;
		margin-top: 59px;
		
		.wrap {
			input {
				&.field {
					height: 31px;
					background-position: 0 0;
				}

				&.btn {
					background-position: -30px -358px;
				}
			}

			.auto-complete {
				width: 100%;
				position: absolute;
				top: 31px;
				z-index: 99;
				display: none;

				ul {
					li {
						background-color: #FFF;
						position: relative;
						min-height: 40px;

						label {
							top: 8px;
							position: absolute;
							display: block;
							color: $blue;
							font-weight: bold;
							margin-left: 13px;
							background-color: #FFF;
							z-index: 2;
							padding-right: 10px;
						}

						span.line {
							position: absolute;
							display: block;
							width: 260px;
							height: 1px;
							background-color: $blue;
							right: 13px;
							top: 20px;
							z-index: 1;
						}

						a {
							display: block;
							padding: 13px;

							.image {
								background-color: $gray_3;
								display: block;
								width: 35px;
								height: 53px;
								float: left;
							}

							.info {
								width: 220px;
								float: left;
								margin-left: 13px;
								margin-top: 7px;
								font-size: 13px;
								color: $gray_7;
							}

							&:hover {
								background-color: $blue;

								.info {
									color: #FFF;
								}
							}
						}
					}
				}
			}
		}
	}

	// IE8
	html.lt-ie9 #search input.field {
		font-size: 13px;
		line-height: 30px;
	}
	// 

	#content {
		&.area-register,
		&.area-login {
			margin-top: 169px;
		}

		.mobile-page-title {
			display: none;
		}

		.filter {
			display: block;
			height: 55px;
			margin: 30px 0 40px 0;

			.area {
				position: relative;
				margin: 0 auto;
				width: 485px;
				height: 20px;
				background: transparent url(../images/filter.png) no-repeat;

				.bar {
					position: absolute;
					top: 4px;
					left: 6px;
					width: 5px;
					height: 10px;
					background: transparent url(../images/filter.png) no-repeat 0 -56px;

					&.continuous {
						left: 10px;
						width: 20px;
						background-position: right -56px;

						&.estreias,
						&.melhores-avaliados,
						&.mais-vistos,
						&.em-cartaz,
						&.todos {
						 	transition-duration: 0.5s;
							transition-timing-function: ease-in-ou;
							transition-property: width;
						}

						&.estreias {
							width: 25px;
						}

						&.melhores-avaliados {
							width: 145px;
						}

						&.mais-vistos {
							width: 275px;
						}

						&.em-cartaz {
							width: 375px;
						}

						&.todos {
							width: 475px;
						}
					}
				}

				.pin {
					top: -3px;
					left: 0;
					position: absolute;
					width: 30px;
					height: 35px;
					background: transparent url(../images/filter.png) no-repeat 0 -20px;
					display: block;
					z-index: 10;
					cursor: default;

					&.estreias,
					&.melhores-avaliados,
					&.mais-vistos,
					&.em-cartaz,
					&.todos {
					 	transition-duration: 0.5s;
						transition-timing-function: ease-in-ou;
						transition-property: left;
					}

					&.estreias {
						left: 15px;
					}

					&.melhores-avaliados {
						left: 135px;
					}

					&.mais-vistos {
						left: 265px;
					}

					&.em-cartaz {
						left: 365px;
					}

					&.todos {
						left: 443px;
					}
				}

				ul {
					position: absolute;
					top: 0;
					z-index: 5;

					li {
						float: left;

						a {
							display: block;
							padding: 35px 0 0 0;
							text-transform: uppercase;
							color: $gray_2;
							font-size: 11px;
							text-align: center;

							&.estreias {
								width: 70px;
							}

							&.melhores-avaliados {
								width: 160px;
							}

							&.mais-vistos {
								width: 100px;
							}

							&.em-cartaz {
								width: 97px;
							}

							&.todos {
								width: 50px;
							}

							&.first {
								text-align: left;
								padding-left: 0;
							}

							&.last {
								text-align: right;
								padding-right: 0;
								margin: 0;
							}

							&.active {
								color: $blue;
							}
						}
					}
				}
			}
		}

		.simple-grid {
			.box {
				width: 184px;
			}
		}

		.grid {
			width: 747px;
			margin-left: -6px;

			.box {
				position: absolute;
				display: none;

				.comment {
					margin: 0 0 15px 15px;
				}

				.alert-blue {
					margin: 0 0 0 15px;
					width: 235px;
					height: 183px;
					background: transparent url(../images/bg-alert-blue.png) no-repeat;
					padding-top: 20px;

					.title {
						margin: 0 20px;
						height: 68px;

						.icon {
							background: transparent url(../images/icon.png) no-repeat;

							&.social-network {
								float: left;
								display: block;
								width: 77px;
								height: 37px;
								background-position: 0 -47px;
								margin-right: 20px;
							}
						}

						.subtitle {
							float: left;
							display: block;
							width: 85px;
							font-size: 16px;
							color: #fff;
							text-transform: uppercase;
						}
					}

					.info p {
						color: #91e8fe;
						font-size: 13px;
						margin: 20px 20px;
					}
				}
			}
		}

		.main-area {
			.main {
				&.about {
					width: 60%;
					float: left;
					margin-left: 30px;
				}

				&.reset-password,
				&.forgot-password {
					margin: 0 auto 450px auto;
					width: 90%;

					p {
						color: $gray_1;
					}

					form {
						margin-top: 15px;
						padding: 30px;
						background-color: #EFEFEF;

						fieldset {
							float: left;

							&.btn {
								padding-top: 23px;
								width: 20%;
							}

							label {
								font-size: 14px;
								color: $gray_1;
								font-weight: bold;
								display: block;
								margin-bottom: 3px;
							}
						}
					}
				}

				&.forgot-password {
					form {
						fieldset {
							width: 72%;

							.default-field {
								width: 95%;
							}
						}
					}
				}

				&.reset-password {
					form {
						fieldset {
							width: 50%;

							&.btn {
								text-align: right;
								width: 99%;
							}

							.default-field {
								width: 93%;
							}
						}

						p {
							padding-top: 5px;
							font-size: 12px;
							width: 100%;
							clear: both;
						}
					}
				}

				&.search {
					margin-left: -10px;
				}

				&.register {
					.social {
						text-align: center;
						padding: 0 0 20px 0;
						margin: 0 auto 20px auto;

						a {
	                    	text-align: center;
	                        display: inline-block;
	                        margin: 0 auto;
	                        width: 258px;
	                        height: 39px;
	                        border: 0;
	                    }
					}

					.use-email {
						width: 45%;
						padding: 10px 30px 10px 30px;
						margin: 0 auto;
						border-top: 1px solid #e0e0e0;

						p {
							text-align: center;
							margin-bottom: 20px;
						}

						fieldset {
							margin-bottom: 15px;

							.fl {
								width: 50%;
								float: left;
							}

							.fr {
								width: 50%;
								float: left;
							}

							label {
								display: block;
								color: $gray_1;
								font-size: 14px;
								font-weight: bold;
								margin-bottom: 5px;
							}

							input.default-field {
								width: 90%;

								&.name,
								&.email {
									width: 95%;
								}
							}

							input.default-button {
								margin-right: 5px;
							}

							.error {
								margin: 10px auto 10px auto;
							}

							p.terms {
								font-size: 12px;
								text-align: left;
							}
						}
					}
				}

				p {
					margin: 0 0 10px 0;
					font-size: 13px;
					color: $gray_2;
				}
			}

			.sidebar {
				border: 1px solid #f1f1f1;
				width: 25%;
				float: right;
				background-color: #fff;
				@include shadow(0, 5px, 10px, -10px);

				&.about {
					margin: 20px 10px 0 0;
				}

				ul {
					li {
						padding: 0 7px;

						a {
							display: block;
							color: $gray_7;
							text-transform: uppercase;
							padding: 10px;
							border-bottom: 1px solid $gray_8;
							font-weight: normal;
							font-size: 16px;

							&.first {
								margin-top: 7px;
							}

							&.last {
								border: none;
								margin-bottom: 7px;
							}

							&:hover,
							&.active {
								background-color: $gray_9;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 800px){
	#container, .container {
		width: 780px;
	}
}